<% @page_title = "UserAuth | Login" -%>
<div class="User_Login_Form" xmlns="http://www.w3.org/1999/html">

  <div>
    <p>If you don't have an account, you can <%= link_to 'register.', new_user_path %> </p>
  </div>
  <%= form_tag(:action => 'login_post') do %>
    <fieldset>
      <legend>Please Log In</legend>



      <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p>
      <p>Password:</br> <%= password_field_tag :password %></p>
      <%= submit_tag("Log In") %>


    </fieldset>
  <% end %>
</div>