

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>


<%  if @post.user %>
<p>
  <b>User:</b>
  <%= @post.user.username %>
</p>
<% end %>


<h2>Comments</h2>

<% @post.comments.each do |c| %>
    <p>
      <b><%=h c.author %> said:</b><br />
      <%= time_ago_in_words(c.created_at) %> ago
    </p>
    <p><%=  c.title %></p>
    <p>
      <%=h c.content %>
    </p>
<% end %>


    <%= form_tag(  :controller => 'comments') do |f| %>

    <div>
     <%= hidden_field_tag(:post_id,@post.id) %>


      Author:<%= text_field_tag :author     %><br />

      Title: <%= text_field_tag :title     %><br />
      Content:  <%= text_field_tag :content     %><br />
      <%= submit_tag("Save") %>

    </div>


<% end %>


<% if !@post.user.nil? && @post.user.id == session[:user_id] %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>
